---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Configuración de correos electrónicos personalizados",
    description:
      "Configuramos correos electrónicos personalizados con tu propio dominio, lo que te permite tener una presencia profesional en línea y mejorar la comunicación con tus clientes. Además, podemos integrar tus correos electrónicos con otros servicios de correo electrónico, como G Suite o Microsoft 365.",
    icon: "mdi:email-edit-outline",
  },
  {
    title: "Desarrollo de sitios web con tecnologías actuales",
    description:
      "Utilizamos tecnologías como HTML, CSS, JavaScript y otras tecnologías actuales para asegurarnos de que tu sitio web se desarrolle de acuerdo con los estándares actuales. Esto garantiza que tu sitio sea seguro, funcione de manera eficiente y sea fácilmente accesible para tus visitantes.",
    icon: "mdi:react",
  },
  {
    title: "Con Wordpress",
    description:
      "Si necesitas un sitio web con funcionalidades específicas o deseas tener el control total de tu sitio web, podemos desarrollarlo utilizando WordPress como CMS. Este popular sistema de gestión de contenidos te permite actualizar y administrar fácilmente tu sitio web sin necesidad de conocimientos técnicos avanzados.",
    icon: "mdi:wordpress",
  },
  {
    title: "sitios web responsivos",
    description:
      "Creamos sitios web que se adaptan a cualquier dispositivo, lo que significa que los visitantes tendrán una experiencia consistente y agradable, independientemente del dispositivo que estén utilizando.",
    icon: "mdi:tablet-cellphone",
  },
  {
    title: "Optimización SEO",
    description:
      "Optimizamos tu sitio web para motores de búsqueda, mejorando tu posicion en los resultados de búsqueda.",
    icon: "mdi:search-web",
  },
  {
    title: "Diseño web personalizado",
    description:
      "Creamos un diseño web único y personalizado para tu negocio, asegurándonos de que la apariencia y funcionalidad de tu sitio se adapten perfectamente a tus necesidades y objetivos.",
    icon: "mdi:monitor-dashboard",
  },
];
---

<ContentSection title="Servicios" id="features">
  <Fragment slot="lead">  
     Conoce cómo <span class="text-primary">podemos ayudarte.</span> a llevar tu negocio al
    <span class="text-primary">siguiente nivel.</span>
    
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
